<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MPortalDB" connectionString="Server= User.microinvest.net; Database=Mportal.DB; User id=dongles; password=Micr0!nvest_6380;" providerName="System.Data.SqlClient" />
		<add name="DonglesDB" connectionString="Server= 192.168.0.248; Database=Dongles; User id=dongles; password=Micr0!nvest_6380;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>